html {
  min-height: fit-content;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-width: 320px; */
  /* position: relative; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  /* margin: auto; */
  margin-bottom: 25px;
  display: flex;
  position: fixed;
  top: -10px; 
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);
}


.App {
  height: 100%;
  background: rgba(0, 0, 0);
  padding-top: 100px;
}
/* 
header {
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
} */

.reelzie,
.login {
  margin-left: 20px;
}

.reelzie:hover {
  cursor: pointer;
}

.video-filter {
  text-align: left;
  margin-left: 20px;
  margin-top: -20px;
  /* position: fixed; */
}

.video-filter:hover {
  cursor: pointer;
}

.my-account,
.menu-bar__icon {
  text-decoration: none;
  color: #16a8d9;
}

.account-bar {
  display: flex;
  justify-content: end;
  width: 100%;
}

a .login {
  text-decoration: none;
  color: #fff;
  margin: -30px 0 0 60px;
}

a:-webkit-any-link {
  text-decoration: none;
}

li {
  color: #fff;
  list-style: none;
  text-transform: uppercase;
}

ul {
  padding: initial
}

h1 {
  color: #16a8d9;
  text-transform: uppercase;
  margin: 0;
  font-size: 36px;
  padding-bottom: 30px;
}

p {
  color: #fff;
  text-align: justify;
  margin: 0 60px;
  font-size: 16px;
}

/* body {
  background: url(https://cdn.pixabay.com/photo/2017/05/16/08/53/art-2317256_960_720.jpg);
  background-size: cover;
} */

.heading {
  position: relative;
  justify-content: center;

}

.random-reels h1,
.actors-title h1,
.sign-up h1 {
  text-align: center;
  padding-top: 50px;
}

.my-account {
  visibility: hidden;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  text-align: center;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.9);
  background-size: cover;
  padding-top: 100px;
}

.section1-background {
  background: url(https://cdn.pixabay.com/photo/2016/11/21/13/36/man-1845432_960_720.jpg);
  background-size: cover;  
}
.section2-background {
  background: url(https://cdn.pixabay.com/photo/2015/05/31/11/48/brush-791306_960_720.jpg);
  background-size: cover;  
}
.section3-background {
  background: url(https://cdn.pixabay.com/photo/2017/02/22/16/07/telecaster-2089810_960_720.jpg);
  background-size: cover;  
}
.section4-background {
  background: url(https://cdn.pixabay.com/photo/2021/09/06/16/04/magnifying-glass-6601965_960_720.jpg);
  background-size: cover;  
}
.section5-background {
  background: url(https://cdn.pixabay.com/photo/2017/11/12/22/50/human-2944064_960_720.jpg);
  background-size: cover;  
}
.section6-background {
  background: url(https://cdn.pixabay.com/photo/2017/04/07/16/47/interview-2211354_960_720.jpg);
  background-size: cover;  
}

/* .section1::before {
  content: "";
  background:rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

.section-content {
  transition: 0.5s ease-in;
}

.menu-bar__icon {
  font-size: 26px;
  /* margin: 20px 50px 0 50px; */
}

.footer-group {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.cta {
  /* padding-left: 100px; */
  top: 20px;
  position: relative;
}

.cta button {
  padding: 10px 20px;
  border-radius: 50px;
  border-width: 2px 4px;
  font-size: 16px;
  cursor: pointer;
}

.sign-up h2 {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.menu-list {
  display: none;
}

.menu-list ul {
  margin: 0;
  padding: 0;
}

.menu-list.open {
  display:contents;
  transition: 1s ease-in;
}

.menu-list ul li {
  color: #fff;
  top: 20px;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align:end;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* .video-reel {
  display: flex;
  justify-content: center;
} */

.video-player {
  padding: 0 10px;
  width: 250px;
  height: 200px;
}

.video-channel {
  padding-left: 70px;
  margin-bottom: -30px;
  text-align: left;
}

.user-icon{
  padding: 17px 0 0 50px;
}

.user-icon:hover {
  cursor: pointer;
}

.nav-menu {
  display: none 
}

/* Hamburger Menu */

.menu-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  cursor: pointer;
  transition: all .5s ease-in-out ;
  /* border: 3px solid white; */
}

.menu-bar__icon {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
  /* margin: 0 auto; */
}

.menu-bar__icon::before,
.menu-bar__icon::after {
  content: '';
  position: absolute;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-bar__icon::before {
  width: 15px;
  transform: translateY(-12px);;
  /* margin-left: 15px; */
}

.menu-bar__icon::after {
  width: 25px;
  transform: translateY(12px);
  margin-left: -10px;
}

/* Menu Bar Animation */

.menu-bar.open .menu-bar__icon {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-bar.open .menu-bar__icon::before {
  transform: rotate(45deg) translate(29px, -35px);
  width: 25px;
}

.menu-bar.open .menu-bar__icon::after {
  transform: rotate(-45deg) translate(41px, 35px);
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1920px) {
  h1 {
    font-size: 106px;
  }

  p {
    font-size: 26px;
    width: 830px;
  }

  .reelzie,
  a .login {
    margin-left: 30px;
  }

  .video-filter {
    margin-left: 30px;
    text-align: left;
  }

  .my-account {
    visibility: visible;
  }

  a .login {
    margin-top: 0;
  }

  /* .menu-list {
    display: inline;
  }

  .menu-list ul {
    display: inline-flex;
  } */

  .menu-bar {
    display: none;
  }

  .nav-menu {
    display: contents;
  }

  .nav-menu ul {
    display: flex;
    margin: 30px -30px 0 0;
  }

  .nav-menu ul li {
    padding: 0 3px;
    font-size: 12px;
  }

  .user-icon {
    padding-right: 20px;
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6 {
    width: 100%;
    padding-bottom: 300px;
    text-align: left;
  }

  .heading h1,
  p {
    margin: 80px 0 0 100px;
  }


  /***** Categories *****/

  .categories ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
  }

  .categories li {
    font-size: 26px;
  }

  .sub-link ul li {
    font-size: 1.3em;
    color:rgb(22, 168, 217);
  }

  .sub-link ul {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* .sub-link ul:empty {
    background: red;
  }; */

  /***** End Categories *****/

  .sign-up h1 {
    margin-left: 0;
    padding-top: 100px;
  }

  .sign-up h2 {
    font-size: 46px;
  }

  .cta {
    padding-right: 30px;
  }
  
  .ul {
    text-align: center;
  }

  .video-channel {
    padding-left: 90px;
    padding-bottom: 40px;
  }

  .video-reel {
    display: flex;
    justify-content: center;
  }

  .video-player {
    width: 350px;
  }
}

/* End Media Query for Laptops and Desktops */

/* Media Query for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {
  .video-player {
    width: 600px;
    height: 350px;
  }

  .video-channel {
    padding-left: 110px;
    margin-bottom: 0;
  }

  .video-filter {
    /* margin-left: 60px; */
    margin-right: 0;
    text-align: left;
  }
}

/* End Media Query for Tablets */

/* Media Query for Mobile Landscape */

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .video-player {
    width: 550px;
    height: 350px;
  }
}


/* temp */